@using MScheduler_Web.Models
@model ViewState

<div class="panel panel-default">
    <div class="panel-heading">Meeting Details</div>
    <div class="panel-body">
        @Model.DisplayMeetingProperties()
    </div>    
</div>

<div class="panel panel-default">
    <div class="panel-heading">Meeting Slots</div>
    <div class="panel-body">
        @Model.DisplayMeetingSlotsTable()
    </div>
</div>